version: "3.3"
services:
  web:
    build: .
    ports:
      - "4242:4242"
    environment:
      DATABASE_URL: postgres://postgres:unleash@db/postgres
    depends_on:
      - db
    command: sh -c './wait-for db:5432 -- npm run start'
  db:
    expose:
      - "5432"
    image: postgres:10-alpine
